@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Header Styles */
nav {
    background-color: #5856D6;
    display: flex;
    justify-content: center;
}

.header-container {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.nav-links
{
    margin-left: 40rem;
}

.navlink{
    padding-right: 15px;
    color: white;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
}

.sidebar
{
    display: none;
}

.borgar
{
    display: none;
}

/* Hero Styles */
.moon{
    background-image: url("./images/astro.png");
    background-position: center;
    background-size: cover;
    height: 480px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moon-inner{
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: .1rem;
    width: 85%; /*Divided heights for this one :)*/
}

.learn {
    font-family: "Lato", sans-serif;
    color: white;
    background-color: #5AC8FA;
    border: none;
    height: 41px;
    width: 120px;
}

/* Progress Styles */
.prog-container {
    width: 85%;
    height: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    display: flex;
    justify-content: right;
}

.prog-sec {
    width: 40%;
    margin-right: 1.25rem;
    display: flex;
    justify-content: right;
    color: #53575A;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    align-items: center;
}

.progress {
    width: 68%;
    height: 30px;
    border-radius: 15px;
    background-color: #E2E2E2;
    margin-left: 1rem;
    position: relative;
}

.progress > span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #5856D6;
    border-radius: 15px;
}

/* Task Styles */

.task-con {
    width: 85%;
    height: 137px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.todo-item {
    height: 100%;
    width: 25%;
    background-color: #FFFFFF;
    color: #53575A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    box-shadow: 0px 1px 10px 0px #00000020;
    margin-bottom: 1rem;
}

.todo-item > button {
    font-family: "Lato", sans-serif;
    color: white;
    background-color: #5AC8FA;
    border: none;
    height: 41px;
    width: 120px;
    
}

/* Footer style */

footer
{
    background-color: #555555;
    height: 2rem;
    position: relative;
    top: 30rem
}

/* ------------------------------------------------------- */

@media all and (max-width: 700px) {
    /* Header Styles */
    .header-container {
        height: 75px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: .5rem;
    }

    .borgar
    {
        display: block;
        padding-left: 6.5rem;
    }

    .nav-links
    {
        display: none;
    }

    /* Side Bar Styles */
    .sidebar
    {
        background-color: white;
        position:absolute;
        height: 100vh;
        width: 75%;
        display: none;
        flex-direction: column;
        left: 0px;
        align-items: center;
        top: 4.7rem;
        z-index: 1;
    }

    .sidelink
    {
        color: #53575A;
        font-size: 1.25rem;
    }

    .side-item
    {
        width: 85%;
        height: 2rem;
        margin-top: 1rem;
        border-bottom: 1px solid #53575A;
        display: flex;
        justify-content: space-between;
        padding-bottom: .5rem;
    }

    /* Hero Styles */
    .moon-inner{
        width: 85%; 
        display: flex;   
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;   
    }

    /* Progress Styles */
    .prog-container {
        width: 100%;
        height: 4.5rem;
        margin-top: 1.25rem;
        display: flex;
        justify-content: center;
    }
    
    .prog-sec {
        width: 85%;
        margin-right: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: right;
        color: #53575A;
        font-family: "Lato", sans-serif;
        font-size: 1.5rem;
        align-items: center;
    }

    .percText
    {
        margin-bottom: .5rem;
        font-size: 2.25rem;
        font-weight: bold;
    }
    
    .progress {
        width: 100%;
        height: 30px;
        border-radius: 15px;
        background-color: #E2E2E2;
        margin-left: 1rem;
        position: relative;
    }
    
    .progress > span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #5856D6;
        border-radius: 15px;
    }

    /* Task Box Styles */

    .task-con {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }

    .todo-item {
        width: 85%;
        height: 5rem;
        font-size: 1.5rem;
    }

    footer
    {
        background-color: #555555;
        height: 2rem;
        position: relative;
        top: 1rem
    }
}